body {
    padding-top: 5rem;
    }
    .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
    }
    .table > tbody > tr > td {
    vertical-align: middle;
    }
    .text, .card{
    text-align: center;
    }
    .fb {
    vertical-align: bottom;
    }
    #twitter-widget-0, #twitter-widget-1, #twitter-widget-2, #twitter-widget-3, #twitter-widget-4, #twitter-widget-5, #twitter-widget-6, #twitter-widget-7, #twitter-widget-8 {
    display: inline-block;
    vertical-align: middle;
    }
    iframe{
       position: relative;
       top: -2px;
    }
    .container{
       margin-top: 25px;
       margin-bottom: 25px;
    }