/* Ce que l'on imprime pas : Carousel et bouton dans la page membres */
#mycarousel, #bouton, #medias,#liens, iframe, audio{
	display: none;
}

/* #logo { */
	/* position: absolute; */
  /* left: 350px; */
/* } */

#text {
	position: absolute;
	top: 600px;
	left: 275px;
}

#pied {
	position: absolute;
	top: 1450px;
}

#membre {
	position: absolute;
	left: 240px;
}

#piedmembre {
	position: absolute;
	top: 1550px;
}

#logo{
	width: 70%;
}