    body {
        padding-top: 5rem;
    }

    .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
    }

    .carousel-inner video {
        margin: auto;
    }

    #slide1 {
        position: absolute;
        top: -5px
    }

    #vid {
        text-align: center;
    }

    @media (max-width: 768px) {
        article {
            float: none;
            margin-left:50px;
        }
    }